<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% if app.user == null %}
   <li>
       <a href="{{ path('fos_user_security_login') }}">
           <button type="button" class="btn btn-primary">Login</button>
       </a>
   </li>
   <li>
       <a href="{{ path('fos_user_registration_register') }}">
           <button type="button" class="btn btn-default">Registro</button>
       </a>
   </li>                               
{% else %}
   <li>
       <a href="#">
           <button type="button" class="btn btn-primary">Publica un trayecto</button>
       </a>
   </li>
   <li>
       <a href="{{ path('fos_user_security_logout') }}">
           <button type="button" class="btn btn-default">{{ app.user.username }}, Desconectar</button>
       </a>
   </li>
{% endif %}

